baseURL = "https://kairos.io/"
title = "Kairos"

enableRobotsTXT = true

# Will give values to .Lastmod etc.
enableGitInfo = true
# Language settings
contentDir = "content/en"
defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false
# Useful when translating.
enableMissingTranslationPlaceholders = true
enableEmoji = true

disableKinds = ["taxonomy", "taxonomyTerm"]

# Configure how URLs look like per section.
[permalinks]
blog = "/:section/:year/:month/:day/:slug/"

## Configuration for BlackFriday markdown parser: https://github.com/russross/blackfriday
[blackfriday]
plainIDAnchors = true
hrefTargetBlank = true
angledQuotes = false
latexDashes = true

# Image processing configuration.
[imaging]
resampleFilter = "CatmullRom"
quality = 75
anchor = "smart"

[services]
[services.googleAnalytics]
# Comment out the next line to disable GA tracking. Also disables the feature described in [params.ui.feedback].
# id = "UA-00000000-0"

# Language configuration

[languages]
[languages.en]
# This is the title of the community page
title = "Kairos"
languageName ="English"
# Weight used for sorting.
weight = 1
[languages.en.params]
description = "Kairos is an open-source Linux-based operating system designed for securely running Kubernetes at the edge. It provides immutable, declarative infrastructure with features like P2P clustering, trusted boot, and A/B upgrades."
images = [ "images/Kairos_800x419.png" ]

[params.social]
twitter = "Kairos_OSS"

[markup]
  [markup.goldmark]
    [markup.goldmark.parser.attribute]
      block = true
    [markup.goldmark.renderer]
      unsafe = true
  [markup.highlight]
      # See a complete list of available styles at https://xyproto.github.io/splash/docs/all.html
      style = "tango"
      noClasses = false 
# Everything below this are Site Params

[params]
copyright = "Kairos authors"
privacy_policy = "https://policies.google.com/privacy"

prism_syntax_highlighting = false

# First one is picked as the Twitter card image if not set on page.
# images = ["images/project-illustration.png"]

# Menu title if your navbar has a versions selector to access old versions of your site.
# This menu appears only if you have at least one [params.versions] set.
version_menu = "Documentation"

# Repository configuration (URLs for in-page links to opening issues and suggesting changes)
github_repo = "https://github.com/kairos-io/kairos-docs"
# An optional link to a related project repo. For example, the sibling repository where your product code lives.
github_project_repo = "https://github.com/kairos-io/kairos"

# Specify a value here if your content directory is not in your repo's root directory
#github_subdir = "docs"
github_branch = "main"
# Google Custom Search Engine ID. Remove or comment out to disable search.
#gcs_engine_id = "011737558837375720776:fsdu1nryfng"

# Enable Lunr.js offline search
offlineSearch = true

latest_version = "v3.5.2"
development = true

[params.robots]
  llmsTXT = true

[params.softwareVersions]
# renovate: datasource=github-releases depName=kairos-io/provider-kairos
provider_version = "v2.13.4"
k3s_version = "v1.34.1+k3s1"
kairos_version = "v3.5.5"
# renovate: datasource=github-releases depName=kairos-io/AuroraBoot
auroraboot_version = "v0.13.0"
# renovate: datasource=github-releases depName=kairos-io/kairos-init
kairos_init_version = "v0.5.22"
flavor = "debian"
registryURL = "quay.io/kairos"
defaultFamily = "ubuntu"
defaultFlavor = "ubuntu"
defaultFlavorRelease = "24.04"
# User interface configuration
[params.ui]
# Enable to show the side bar menu in its compact state.
sidebar_menu_compact = true
# Enable to show the foldable triangle
sidebar_menu_foldable = false
#  Set to true to disable breadcrumb navigation.
breadcrumb_disable = false
#  Set to true to hide the sidebar search box (the top nav search box will still be displayed if search is enabled)
sidebar_search_disable = true
#  Set to false if you don't want to display a logo (/assets/icons/logo.svg) in the top nav bar
navbar_logo = true
# Set to true to disable the About link in the site footer
footer_about_disable = false
showLightDarkModeMenu = true

# Adds a H2 section titled "Feedback" to the bottom of each doc. The responses are sent to Google Analytics as events.
# This feature depends on [services.googleAnalytics] and will be disabled if "services.googleAnalytics.id" is not set.
# If you want this feature, but occasionally need to remove the "Feedback" section from a single page,
# add "hide_feedback: true" to the page's front matter.
[params.ui.feedback]
enable = false
# The responses that the user sees after clicking "yes" (the page was helpful) or "no" (the page was not helpful).
yes = 'Awesome! Glad to hear it! Please <a href="https://github.com/kairos-io/kairos/issues/new">tell us how we can improve</a>.'
no = 'Oh snap! Sorry to hear that. Please <a href="https://github.com/kairos-io/kairos/issues/new">tell us how we can improve</a>.'

[params.links]
[[params.links.developer]]
	name = "GitHub"
	url = "https://github.com/kairos-io/kairos"
	icon = "fab fa-github"
        desc = "Development takes place here!"
[[params.links.user]]
	name = "GitHub discussions"
	url = "https://github.com/kairos-io/kairos/discussions"
        icon = "fa fa-comments"
        desc = "Questions?"
[[params.links.user]]
	name = "Kairos community events calendar"
	url = "https://calendar.google.com/calendar/embed?src=c_6d65f26502a5a67c9570bb4c16b622e38d609430bce6ce7fc1d8064f2df09c11%40group.calendar.google.com&ctz=Europe%2FRome"
        icon = "fa fa-calendar"
        desc = "Join our planning, office hours and other community meetings!"
[[params.links.user]]
	name = "Kairos community"
	url = "https://github.com/kairos-io/community"
        icon = "fab fa-github"
        desc = "Kairos community content"
[[params.links.user]]
        name = "Slack"
        url = "https://slack.cncf.io/#kairos"
	icon = "fab fa-slack"
        desc = "Join us on Slack!"
[[params.links.user]]
  name = "Mailing List"
  url = "mailto:cncf-kairos-maintainers@lists.cncf.io"
  icon = "fa fa-envelope"
  desc = "Send us an email!"

# hugo module configuration

[module]
  # uncomment line below for temporary local development of module
  # replacements = "github.com/google/docsy -> ../../docsy"
  [module.hugoVersion]
    extended = true
    min = "0.110.0"
  [[module.imports]]
    path = "github.com/google/docsy"
    disable = false
  [[module.imports]]
    path = "github.com/google/docsy/dependencies"
    disable = false
    
