[build]
  base = "docusaurus"
  publish = "build"
  command = "npm ci && npm run build"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
from = "/docs/contribution-guidelines/"
to = "https://github.com/kairos-io/kairos/blob/master/CONTRIBUTING.md"
status = 200
force = true # COMMENT: ensure that we always redirect
headers = {X-From = "Netlify"}
signed = "API_SIGNATURE_TOKEN"
