/*

Add styles or override variables from the theme here.

*/

$primary: #03153A;
$secondary: #e1e5ee;
$enable-gradients: true;
$enable-rounded: false;
$enable-shadows: true;
$google_font_name: "Noto Sans";
$google_font_family: "Noto+Sans:0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700";
$td-enable-google-fonts: false;


a {
    color: #009ffd;
    text-decoration: none;
}

a:hover {
    color: #03153a;
}

// Disables text "Kairos" in the menu. Logo contains it already
.td-navbar .navbar-brand__name {
    display: none;
}

.download-card-wrap i {
    color: #EE5007;
    margin-left: auto;
    font-size: 1rem;
}

.press-cards i {
    color: #EE5007;
    margin-left: 1rem;
    font-size: 0.7rem;
}

#basics-blade a {
    color: #EE5007;
}