{{ define "main" }}
<div class="td-content press-page">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
    <div class="press-list">
        <div class="press-list-item">
            <div class="press-list-text">
                <div class="press-list-meta">
                    <time datetime="2026-01-28">Jan 28, 2026</time>
                    <span>Business Wire</span>
                </div>
                <p>Spectro Cloud announces Hadron, a lightweight, security-first Linux base for modern enterprise edge deployments</p>
            </div>
            <a href="https://www.businesswire.com/news/home/20260128584925/en/Spectro-Cloud-Announces-Hadron-A-Lightweight-Security-First-Linux-Base-for-Modern-Enterprise-Edge-Deployments" target="_blank">
                Read more
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <div class="press-list-item">
            <div class="press-list-text">
                <div class="press-list-meta">
                    <time datetime="2026-01-28">Jan 28, 2026</time>
                    <span>Spectro Cloud</span>
                </div>
                <p>Spectro Cloud announces Hadron, a lightweight, security-first Linux base for modern enterprise edge deployments</p>
            </div>
            <a href="https://www.spectrocloud.com/news/announcing-hadron-a-lightweight-security-first-linux-distribution" target="_blank">
                Read more
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <div class="press-list-item">
            <div class="press-list-text">
                <div class="press-list-meta">
                    <time datetime="2025-12-29">Dec 29, 2025</time>
                    <span>CNCF Blog</span>
                </div>
                <p>How to integrate Kairos architecturally into an edge AI platform</p>
            </div>
            <a href="https://www.cncf.io/blog/2025/12/29/how-to-integrate-kairos-architecturally-into-an-edge-ai-platform/" target="_blank">
                Read more
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <div class="press-list-item">
            <div class="press-list-text">
                <div class="press-list-meta">
                    <time datetime="2025-03-25">Mar 25, 2025</time>
                    <span>CNCF Blog</span>
                </div>
                <p>Building secure Kubernetes edge images with Kairos and K0s</p>
            </div>
            <a href="https://www.cncf.io/blog/2025/03/25/building-secure-kubernetes-edge-images-with-kairos-and-k0s/" target="_blank">
                Read more
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <div class="press-list-item">
            <div class="press-list-text">
                <div class="press-list-meta">
                    <time datetime="2025-03-10">Mar 10, 2025</time>
                    <span>Palark Blog</span>
                </div>
                <p>CNCF Sandbox 2024 H1: Kairos in the CNCF Sandbox roundup</p>
            </div>
            <a href="https://palark.com/blog/cncf-sandbox-2024-h1/" target="_blank">
                Read more
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <div class="press-list-item">
            <div class="press-list-text">
                <div class="press-list-meta">
                    <time datetime="2024-03-14">Mar 14, 2024</time>
                    <span>The New Stack</span>
                </div>
                <p>Check us out in this The New Stack article by our maintainer, Ettore di Giacinto</p>
            </div>
            <a href="https://thenewstack.io/honey-i-secured-your-boot-edge-trusted-boot-with-kairos/" target="_blank">
                Read more
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <div class="press-list-item">
            <div class="press-list-text">
                <div class="press-list-meta">
                    <time datetime="2023-04-18">Apr 18, 2023</time>
                    <span>Spectro Cloud</span>
                </div>
                <p>See how we're collaborating with Intel and Spectro Cloud on the new Secure Edge-Native Architecture</p>
            </div>
            <a href="https://www.spectrocloud.com/news/spectro-cloud-launches-the-secure-edge-native-architecture-sena" target="_blank">
                Read more
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <div class="press-list-item">
            <div class="press-list-text">
                <div class="press-list-meta">
                    <time datetime="2023-03-28">Mar 28, 2023</time>
                    <span>The New Stack</span>
                </div>
                <p>Learn how to use the famous OSS project, LocalAI, with Kairos and K3s on your nodes</p>
            </div>
            <a href="https://thenewstack.io/looking-for-a-k3os-alternative-choosing-a-container-os-for-edge-k8s/" target="_blank">
                Read more
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>
{{ end }}
