{{ $kairosVersion := $.Page.Site.Params.softwareVersions.kairos_version }}
{{ $k3sVersion := $.Page.Site.Params.softwareVersions.k3s_version }}
{{ $tagK3sVersion := replace $k3sVersion "+" "-" | safeHTML }}
<main>
    <div id="download-blade">
        <div class="download-card-wrap">
            <div class="download-cards">
                <div>Downloads</div>
                <div>
                    <div>
                        {{ $logo := resources.Get "/img/kairos-ubuntu-logo.png" }}
                        <img src="{{ $logo.RelPermalink }}" alt="kairos ubuntu logo" loading="lazy"/>
                    </div>
                    <div>
                        <a href="https://github.com/kairos-io/kairos/releases/download/{{$kairosVersion}}/kairos-ubuntu-24.04-standard-amd64-generic-{{$kairosVersion}}-k3s{{$k3sVersion}}.iso" target="_self" class="unclickable">
                            <span>X86</span><span> version</span>
                            <i class="fa-solid fa-download"></i>
                        </a>
                        <a href="" target="_self" class="open-dialog-ubuntu">
                            <span>RPi4</span><span> version</span>
                            <i class="fa-solid fa-download"></i>
                        </a>
                        <dialog id="ubuntu-modal">
                            <div class="copied-ubuntu">Copied</div>
                            <p>Please use the following docker command: </p><pre class="code-ubuntu">docker pull quay.io/kairos/ubuntu:24.04-standard-arm64-rpi4-{{$kairosVersion}}-k3s{{$tagK3sVersion}}-img</pre><p></p>
                            <p>You can find more information: <a href="https://kairos.io/docs/reference/image_matrix/#image-flavors" target="_blank">here</a></p>
                            <div class="modal-buttons">
                                <button class="copy-to-clipboard-ubuntu plausible-event-name=Docker+Pull plausible-event-flavor=ubuntu plausible-event-flavor_release=24.04 plausible-event-version={{$kairosVersion}}-k3s{{$tagK3sVersion}} plausible-event-arch=arm64 plausible-event-variant=standard plausible-event-model=rpi4">Copy Command</button>
                                <button class="close-dialog-ubuntu">Close</button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <div>
                        {{ $logo := resources.Get "/img/kairos-fedora-logo.png" }}
                        <img src="{{ $logo.RelPermalink }}" alt="kairos fedora logo" loading="lazy"/>
                    </div>
                    <div>
                        <a href="https://github.com/kairos-io/kairos/releases/download/{{$kairosVersion}}/kairos-fedora-40-standard-amd64-generic-{{$kairosVersion}}-k3s{{$k3sVersion}}.iso" target="_self" class="unclickable">
                            <span>X86</span><span> version</span>
                            <i class="fa-solid fa-download"></i>
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        {{ $logo := resources.Get "/img/kairos-alpine-logo.png" }}
                        <img src="{{ $logo.RelPermalink }}" alt="kairos alpine logo" loading="lazy"/>
                    </div>
                    <div>
                        <a href="https://github.com/kairos-io/kairos/releases/download/{{$kairosVersion}}/kairos-alpine-3.19-standard-amd64-generic-{{$kairosVersion}}-k3s{{$k3sVersion}}.iso" target="_self" class="unclickable">
                            <span>X86</span><span> version</span>
                            <i class="fa-solid fa-download"></i>
                        </a>
                        <a href="" target="_self" class="open-dialog-alpine">
                            <span>RPi4</span><span> version</span>
                            <i class="fa-solid fa-download"></i>
                        </a>
                        <dialog id="alpine-modal">
                            <div class="copied-alpine">Copied</div>
                            <p>Please use the following docker command: </p><pre class="code-alpine">docker pull quay.io/kairos/alpine:3.19-standard-arm64-rpi4-{{$kairosVersion}}-k3s{{$tagK3sVersion}}-img</pre><p></p>
                            <p>You can find more information: <a href="https://kairos.io/docs/reference/image_matrix/#image-flavors" target="_blank">here</a></p>
                            <div class="modal-buttons">
                                <button class="copy-to-clipboard-alpine plausible-event-name=Docker+Pull plausible-event-flavor=alpine plausible-event-flavor_release=3.19 plausible-event-version={{$kairosVersion}}-k3s{{$tagK3sVersion}} plausible-event-arch=arm64 plausible-event-variant=standard plausible-event-model=rpi4">Copy Command</button>
                                <button class="close-dialog-alpine">Close</button>
                            </div>
                        </dialog>
                    </div>
                </div>
            </div>
            <a href="https://kairos.io/docs/reference/image_matrix/#image-flavors" target="_blank" class="download-others-link">
                See other download alternatives<i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
    <div id="welcome-blade">
        <div class="welcome-wrapper">
            <div>
                {{ $logo := resources.Get "/img/wrapped-armadillo.png" }}
                <img src="{{ $logo.RelPermalink }}" alt="wrapped armadillo logo" loading="lazy"/>
            </div>
            <div>
                <h2>Welcome to Kairos&nbsp;</h2>
                <p>Build custom bootable-OS images for your edge devices from your choice of OS and Kubernetes distribution.</p>
                <a href="https://www.cncf.io/online-programs/cncf-on-demand-webinar-meet-kairos-an-oss-project-building-the-immutable-kubernetes-edge/" target="_blank">
                    Watch this CNCF Webinar to meet Kairos
                    <i class="fa-sharp fa-solid fa-circle-play"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="hot-press-blade">
        <div class="hot-off-press">
            <h2>Hot off the press</h2>
            <div class="press-cards">
                <div>
                    <p>See how we're collaborating with Intel and Spectro Cloud on the new Secure Edge-Native Architecture</p>
                    <div class="press-card-img">
                        {{ $logo := resources.Get "/img/spectro-intel.png" }}
                        <img src="{{ $logo.RelPermalink }}" alt="spectro intel logo" loading="lazy"/>
                    </div>
                    <a href="https://www.spectrocloud.com/news/spectro-cloud-launches-the-secure-edge-native-architecture-sena" target="_blank">
                        Read more
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
                <div>
                    <p>Check us out in this The New Stack article by our maintainer, Ettore di Giacinto</p>
                    <div class="press-card-img">
                        {{ $logo := resources.Get "/img/theNewStack.png" }}
                        <img src="{{ $logo.RelPermalink }}" alt="the New Stack logo" loading="lazy"/>
                    </div>
                    <a href="https://thenewstack.io/honey-i-secured-your-boot-edge-trusted-boot-with-kairos/" target="_blank">
                        Read more
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
                <div>
                    <p>Learn how to use the famous OSS project, LocalAI, with Kairos and K3s on your nodes</p>
                    <div class="press-card-img">
                        {{ $logo := resources.Get "/img/k8s-superpowers.png" }}
                        <img src="{{ $logo.RelPermalink }}" alt="k8sgpt kubernetes superpowers logo" loading="lazy"/>
                    </div>
                    <a href="https://thenewstack.io/looking-for-a-k3os-alternative-choosing-a-container-os-for-edge-k8s/" target="_blank">
                        Read more
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="makes-us-diff-blade">
        <div class="makes-us-diff">
            <h2>What makes <span>Kairos</span><span> different?</span></h2>
            <div class="makes-us-diff-cards">
                <div>
                    <div>
                        <!-- these are just font awesome icons, why are they pngs?! -->
                        {{ $logo := resources.Get "/img/swirl.png" }}
                        <img src="{{ $logo.RelPermalink }}" alt="swirl logo" loading="lazy"/>
                        <h3>Customizable to Your Needs</h3>
                    </div>
                    <p>With Kairos, you're in the driver's seat. Build custom bootable-OS images for your edge devices from your choice of OS and Kubernetes distribution. These images are delivered as container images, and can be customized and extended to your needs. Kairos fits neatly into your CI/CD pipelines and lets you use the container engine of choice.</p>
                </div>
                <div>
                    <div>
                        <!-- these are just font awesome icons, why are they pngs?! -->
                        {{ $logo := resources.Get "/img/security.png" }}
                        <img src="{{ $logo.RelPermalink }}" alt="security logo" loading="lazy"/>
                        <h3>Consistent and Secure</h3>
                    </div>
                    <p>Say goodbye to inconsistencies across your clusters as each node boots from the same immutable image, ensuring uniformity. It also reduces the risk of malicious attacks, and with data encryption, your stored data remains protected, providing enhanced security for your clusters.</p>
                </div>
                <div>
                    <div>
                        <!-- these are just font awesome icons, why are they pngs?! -->
                        {{ $logo := resources.Get "/img/rocket.png" }}
                        <img src="{{ $logo.RelPermalink }}" alt="rocket logo" loading="lazy"/>
                        <h3>Easy <br> to Install</h3>
                    </div>
                    <p>We believe in making things simple. With Kairos, you can set up nodes via QR code, manually, remotely via SSH, interactively or with Kubernetes.</p>
                </div>
                <div>
                    <div>
                        <!-- these are just font awesome icons, why are they pngs?! -->
                        {{ $logo := resources.Get "/img/box.png" }}
                        <img src="{{ $logo.RelPermalink }}" alt="box logo" loading="lazy"/>
                        <h3>Optimized for <br> Kubernetes</h3>
                    </div>
                    <p>Kairos is optimized for running Kubernetes workloads, and Upgrades can be also done via Kubernetes. However -  can also be used as a standard Linux distribution.  The configuration management is done via cloud-init.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cncf-blade">
        <div class="join-us-wrap">
            {{ $cncf := resources.Get "/img/logo_cloudnative.png" }}
            <h2>We are a Cloud Native Computing Foundation sandbox project.</h2>
            <img src="https://www.cncf.io/wp-content/uploads/2022/07/cncf-white-logo.svg" alt="opened box" loading="lazy" width="300em" height="auto"/>
            <p>The Linux Foundation® (TLF) has registered trademarks and uses trademarks. For a list of TLF trademarks, see <a href="https://www.linuxfoundation.org/trademark-usage/" target="_blank">Trademark Usage</a>.</p>
        </div>
    </div>
    <div id="join-us-blade">
        <div class="join-us-wrap">
            <h2>Join our community</h2>
            <p>Whether you're a part of a DevOps team, an IT engineer, a hobbyist, or a maker, we welcome you to join us in driving forward our vision of a secure, decentralized, and containerized edge.</p>
            <div class="join-us-wrap-cards">
                <a href="https://github.com/kairos-io/kairos" target="_blank">
                    <i class="fa-brands fa-github"></i>
                    <div>
                        <p>Contribute on GitHub</p>
                    </div>
                </a>
                <a href="https://www.linkedin.com/company/kairos-oss/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                    <div>
                        <p>Follow us on LinkedIn</p>
                    </div>
                </a>
                <a href="https://slack.cncf.io/#kairos" target="_blank">
                    <i class="fa-brands fa-slack"></i>
                    <div>
                        <p>Join the conversation</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="partners-blade">
        <div class="partners">
            <h2>Enterprise Support</h2>
            <p>Need a hand? For enterprise support, <span>get in touch</span> with companies ready to help you tackle the toughest challenges.</p>
            <div class="partners-cards">
                <div>
                    <div>
                        {{ $sclogo := resources.Get "/img/spectrocloud-light.svg" }}
                        <img src="{{ $sclogo.RelPermalink }}" alt="Spectro Cloud Logo" loading="lazy"/>
                    </div>
                    <p><span>Spectro Cloud</span> is the main supporter behind Kairos and provides enterprise-grade Kubernetes management through its platform, Palette, which allows organizations to deploy, manage, and scale Kubernetes across various environments, including public clouds, data centers, bare metal, and edge computing.</p>
                    <div class="buttons astro-7XAARZHW">
                        <a class="contact-link" href="mailto:kairos@spectrocloud.com" class="astro-7XAARZHW" data-partner="Spectro Cloud">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="hot-adopters-blade">
        <div class="hot-off-adopters">
            <h2>Adopters</h2>
            <div class="press-cards">
                <div>
                    <p>DeEEP Network uses Kairos under the hood of their device to offer a high secure system with trusted boot.</p>
                    <div class="press-card-img">
                        {{ $logo := resources.Get "/img/deeep-network.png" }}
                        <img src="{{ $logo.RelPermalink }}" alt="spectro intel logo" loading="lazy"/>
                    </div>
                    <a href="https://www.deeep.network" target="_blank">
                        Read more
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
                <div>
                    <p>Are you using Kairos for your product or within your company? <span>We want to hear from you!</span></p>
                    <div class="press-card-img">
                        {{ $logo := resources.Get "/img/your-logo-here.png" }}
                        <img src="{{ $logo.RelPermalink }}" alt="the New Stack logo" loading="lazy"/>
                    </div>
                    <a href="mailto:members@kairos.io">
                        Contact us
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="basics-blade">
        <div class="basics">
            <a href="https://kairos.io/docs/installation/" target="_blank">
                {{ $logo := resources.Get "/img/opened-box.png" }}
                <img src="{{ $logo.RelPermalink }}" alt="opened box" loading="lazy"/>
                <div>
                    <h3>Installation</h3>
                    <p>See how to get up and running with Kairos, in less than 15 minutes!</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </a>
            <a href="https://kairos.io/docs/architecture/" target="_blank">
                {{ $logo := resources.Get "/img/shell.png" }}
                <img src="{{ $logo.RelPermalink }}" alt="shell" loading="lazy"/>
                <div>
                    <h3>Architecture</h3>
                    <p>Get inside Kairos, from the factory <br> to P2P mesh capabilities.</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </a>
            <a href="https://github.com/kairos-io/kairos/tree/master/examples" target="_blank">
                {{ $logo := resources.Get "/img/origami-bird.png" }}
                <img src="{{ $logo.RelPermalink }}" alt="origami bird" loading="lazy"/>
                <div>
                    <h3>Examples</h3>
                    <p>Stretch your wings with best practices of common tasks after installing Kairos.</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </a>
        </div>
    </div>
</main>
