<li class="td-light-dark-menu nav-item dropdown">
    <button class="btn btn-link nav-link dropdown-toggle d-flex align-items-center" id="distro-select" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" data-distro="rhel;roskylinux;9" aria-label="Toggle Flavor">
        Rockylinux 9
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-flavor-text">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center distro-option" data-distro="alpine;alpine;3.19" aria-pressed="false">
            Alpine 3.19
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center distro-option" data-distro="debian;debian;bookworm" aria-pressed="false">
            Debian Bookworm
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center distro-option" data-distro="debian;debian;testing" aria-pressed="false">
            Debian Testing
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center distro-option" data-distro="rhel;fedora;40" aria-pressed="false">
            Fedora 40
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center distro-option" data-distro="opensuse;opensuse;leap-15.6" aria-pressed="false">
            openSUSE Leap-15.6
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center distro-option" data-distro="opensuse;opensuse;tumbleweed" aria-pressed="false">
            openSUSE Tumbleweed
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center distro-option" data-distro="rhel;rockylinux;9" aria-pressed="true">
            Rockylinux 9
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center distro-option" data-distro="ubuntu;ubuntu;24.10" aria-pressed="false">
            Ubuntu 24.10
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center distro-option" data-distro="ubuntu;ubuntu;24.04" aria-pressed="false">
            Ubuntu 24.04
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center distro-option" data-distro="ubuntu;ubuntu;22.04" aria-pressed="false">
            Ubuntu 22.04
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center distro-option" data-distro="ubuntu;ubuntu;20.04" aria-pressed="false">
            Ubuntu 20.04
            </button>
        </li>
    </ul>
</li> 