<li class="td-light-dark-menu nav-item dropdown">
    <button class="btn btn-link nav-link dropdown-toggle d-flex align-items-center" id="analytics-select" type="button" aria-expanded="false" aria-controls="widget2" data-bs-toggle="dropdown" data-bs-display="static" data-analytics-state="on" aria-label="Toggle Analytics">
        <div>
            <i id="analytics-current-icon" class="fa-solid fa-user-tie"></i>
        </div> &nbsp;
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-scarf-text" data-bs-popper="static">
        <li>
            <button type="button" id="analytics-on" class="dropdown-item d-flex align-items-center" aria-pressed="false">
            <i class="fa-solid fa-user-tie"></i> Business use &nbsp;<i id="analytics-info" class="fa-solid fa-circle-info"></i>
            </button>
            <div id="analytics-modal">
                <p>
                If you are using Kairos for business purposes, please allow us to collect anonymous usage data. By leaving this option enabled, some of the download links will go through Scarf, which help us understand project adoption.
                </p>
                <p>
                Scarf purges personally identifiable information immediately after metadata lookup, ensuring that no sensitive data is stored. It is a GDPR-compliant and used amoung different projects in the CNCF like Linkerd, Falco and others. You can learn more about it on <a href="https://scarf.sh/" target="_blank">scarf.sh</a>.
                </p>
            </div>
        </li>
        <li>
            <button type="button" id="analytics-off" class="dropdown-item d-flex align-items-center" aria-pressed="false">
            <i class="fa-solid fa-house-user"></i> Personal use
            </button>
        </li>
    </ul>
</li> 