<div class="distro-select-wrapper">
    <select id="distro-select" class="form-select">
        <option value="alpine;alpine;3.19">Alpine 3.19</option>
        <option value="debian;debian;bookworm">Debian Bookworm</option>
        <option value="debian;debian;testing">Debian Testing</option>
        <option value="rhel;fedora;40">Fedora 40</option>
        <option value="opensuse;opensuse;leap-15.6">openSUSE Leap 15.6</option>
        <option value="opensuse;opensuse;tumbleweed">openSUSE Tumbleweed</option>
        <option value="rhel;rockylinux;9">Rockylinux 9</option>
        <option value="ubuntu;ubuntu;24.04">Ubuntu 24.04</option>
        <option value="ubuntu;ubuntu;22.04">Ubuntu 22.04</option>
        <option value="ubuntu;ubuntu;20.04">Ubuntu 20.04</option>
    </select>
</div>