{{ if not (eq .Page.Params.versionBanner "false") }}
{{ $color := "warning" }}
{{ $baseURL := .Site.BaseURL }}
{{ $latest_version := .Site.Params.latest_version }}
{{ $url_latest_version := printf "%s/%s/docs" $baseURL $latest_version }}
<!-- Check the variable that indicates whether this is an archived doc set.
  If yes, display a banner. -->
  {{ if .Site.Params.development }}
  <div class="pageinfo pageinfo-{{ $color }}">
    <p>You are viewing the development docs which are in progress. There is no guarantee that the development documentation will be accurate, including instructions, links, and other information. For the latest stable documentation, click
      <a href="{{ $url_latest_version | safeURL }}" target="_blank">here</a>.</p>
  </div>
{{ end }}
<!-- Check the variable that indicates whether this is an archived doc set.
  If yes, display a banner. -->
  {{ if .Site.Params.archived_version }}
  {{ $current_version := .Site.Params.softwareVersions.kairos_version }}
  <div class="pageinfo pageinfo-{{ $color }}">
    <p>You are viewing documentation for the Kairos release {{ $current_version | markdownify }}.
      For the latest release, click
      <a href="{{ $url_latest_version | safeURL }}" target="_blank">here</a>.</p>
  </div>
{{ end }}
{{ end }}
