<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="astro-7XAARZHW">
  <head>
    {{ partial "head.html" . }}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body class="td-section astro-7XAARZHW">
    <header class="hero astro-7XAARZHW">
      <nav class="js-navbar-scroll navbar navbar-expand navbar-dark flex-column flex-md-row td-navbar">
        <div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <a class="nav-link" href="/blog/"><span>Blog</span></a>
            </li>
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <a class="nav-link" href="/community/"><span>Community</span></a>
            </li>
            <li class="nav-item mr-4 mb-2 mb-lg-0 mt-lg-2">
              <a class="github-button" href="https://github.com/kairos-io/kairos" data-size="large" data-show-count="true" aria-label="Star kairos-io/kairos on GitHub">Star</a>
            </li>
          </ul>
        </div>
        <div class="navbar-nav d-none d-lg-block">
          {{ partial "search-input.html" . }}
        </div>
      </nav>
      <div class="overlay astro-7XAARZHW">
        <div class="constraint vertical astro-7XAARZHW">
          <div class="header astro-7XAARZHW">

            <div class="astro-7XAARZHW">
              <h1 class="title astro-7XAARZHW">
                Edge, but <span class="astro-7XAARZHW">better</span>
              </h1>
              <span class="subtitle astro-7XAARZHW">
                Transform any Linux system into a secure, <br />
                customizable, and easily managed platform <br />
                for edge computing.</span>
              <div class="buttons astro-7XAARZHW">
                <a id="quickstart" href="/docs" class="astro-7XAARZHW">
                  Quick Start
                </a>
                <a id="download" href="https://github.com/kairos-io/provider-kairos/releases" class="astro-7XAARZHW"><span class="github-star"><img src="/index/star.svg" alt="github star"></span>Star us on GitHub</a>
              </div>
            </div>

            <div class="hero-logo astro-7XAARZHW">
              <img src="/index/armadillo.png" alt="main logo" width="318" class="astro-7XAARZHW">
              <div class="hero-latest-release">
                Check out
                <p>our latest release</p>
                <div class="hero-latest-release-version">
                  <div>Latest release</div>
                  <div>{{$.Page.Site.Params.softwareVersions.kairos_version}}</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </header>


    {{ partial "content.html" . }}
    {{ partial "footer.html" . }}
    <script type="module" src="/js/index.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    {{ partialCached "scripts.html" . }}
  </body>
</html>
