<div class="meta-distro">
    <!-- if the current version == master then use the latest_version -->
    {{ $kairosVersion := $.Page.Site.Params.softwareVersions.kairos_version }}
    {{ if eq $kairosVersion "master" }}
        {{ $kairosVersion = $.Page.Site.Params.latest_version }}
    {{ end }}
    {{ $kairosVersion = $kairosVersion | safeHTML }}
    <a href="https://github.com/kairos-io/kairos/releases/download/{{- $kairosVersion -}}/kairos-@flavor-@flavorRelease-
{{- with .Get "variant" -}}{{- . -}}{{- end -}}
-
{{- if eq (.Get "arch") "" -}}
    amd64
{{- else -}}
    {{- .Get "arch" -}}
{{- end -}}
-
{{- if eq (.Get "model") "" -}}
    generic
{{- else -}}
    {{- .Get "model" -}}
{{- end -}}
-
{{- $kairosVersion -}}
{{- if eq (.Get "variant") "standard" -}}
    -k3s{{$.Page.Site.Params.softwareVersions.k3s_version | safeHTML }}
{{- end -}}
{{- with .Get "suffix" -}}
    {{- . -}}
{{- end -}}">kairos-@flavor-@flavorRelease-
{{- with .Get "variant" -}}{{- . -}}{{- end -}}
-
{{- if eq (.Get "arch") "" -}}
    amd64
{{- else -}}
    {{- .Get "arch" -}}
{{- end -}}
-
{{- if eq (.Get "model") "" -}}
    generic
{{- else -}}
    {{- .Get "model" -}}
{{- end -}}
-
{{- $kairosVersion -}}
{{- if eq (.Get "variant") "standard" -}}
    -k3s{{$.Page.Site.Params.softwareVersions.k3s_version | safeHTML }}
{{- end -}}
{{- with .Get "suffix" -}}
    {{- . -}}
{{- end -}}
    </a>
</div>