<div class="meta-distro">
    <a href="https://github.com/kairos-io/kairos/releases/download/{{- $.Page.Site.Params.softwareVersions.kairos_version -}}/kairos-@flavor-@flavorRelease-
{{- with .Get "variant" -}}{{- . -}}{{- end -}}
-
{{- if eq (.Get "arch") "" -}}
    amd64
{{- else -}}
    {{- .Get "arch" -}}
{{- end -}}
-
{{- if eq (.Get "model") "" -}}
    generic
{{- else -}}
    {{- .Get "model" -}}
{{- end -}}
-
{{- $.Page.Site.Params.softwareVersions.kairos_version -}}
{{- if eq (.Get "variant") "standard" -}}
    -k3s{{$.Page.Site.Params.softwareVersions.k3s_version | safeHTML }}
{{- end -}}
{{- with .Get "suffix" -}}
    {{- . -}}
{{- end -}}">kairos-@flavor-@flavorRelease-
{{- with .Get "variant" -}}{{- . -}}{{- end -}}
-
{{- if eq (.Get "arch") "" -}}
    amd64
{{- else -}}
    {{- .Get "arch" -}}
{{- end -}}
-
{{- if eq (.Get "model") "" -}}
    generic
{{- else -}}
    {{- .Get "model" -}}
{{- end -}}
-
{{- $.Page.Site.Params.softwareVersions.kairos_version -}}
{{- if eq (.Get "variant") "standard" -}}
    -k3s{{$.Page.Site.Params.softwareVersions.k3s_version | safeHTML }}
{{- end -}}
{{- with .Get "suffix" -}}
    {{- . -}}
{{- end -}}
    </a>
</div>