{{- $.Page.Site.Params.softwareVersions.registryURL -}}
/@flavor:@flavorRelease-
{{- with .Get "variant" -}}
    {{- . -}}
{{- end -}}
-
{{- if eq (.Get "arch") "" -}}
    amd64
{{- else -}}
    {{- .Get "arch" -}}
{{- end -}}
-
{{- if eq (.Get "model") "" -}}
    generic
{{- else -}}
    {{- .Get "model" -}}
{{- end -}}
-
{{- $.Page.Site.Params.softwareVersions.kairos_version -}}
{{- if eq (.Get "variant") "standard" -}}
    -k3s{{- replace $.Page.Site.Params.softwareVersions.k3s_version "+" "-" -}}
{{- end -}}
{{- with .Get "suffix" -}}
    -{{- . -}}
{{- end -}}