{{- $.Page.Site.Params.softwareVersions.registryURL -}}
/
{{- if eq (.Get "flavor") "" -}}
    {{- $.Page.Site.Params.softwareVersions.defaultFlavor -}}
{{- else -}}
    {{- .Get "flavor" -}}
{{- end -}}
:
{{- if eq (.Get "flavorRelease") "" -}}
    {{- $.Page.Site.Params.softwareVersions.defaultFlavorRelease -}}
{{- else -}}
    {{- .Get "flavorRelease" -}}
{{- end -}}
-
{{- with .Get "variant" -}}
    {{- . -}}
{{- end -}}
-
{{- if eq (.Get "arch") "" -}}
    amd64
{{- else -}}
    {{- .Get "arch" -}}
{{- end -}}
-
{{- if eq (.Get "model") "" -}}
    generic
{{- else -}}
    {{- .Get "model" -}}
{{- end -}}
-
{{- $.Page.Site.Params.softwareVersions.kairos_version -}}
{{- if eq (.Get "variant") "standard" -}}
    -k3s{{- replace $.Page.Site.Params.softwareVersions.k3s_version "+" "-" -}}
{{- end -}}
{{- with .Get "suffix" -}}
    -{{- . -}}
{{- end -}}